---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <svg
      class="astro-a"
      xmlns="http://www.w3.org/2000/svg"
      width="2004"
      height="2005.333"
      version="1.0"
      viewBox="0 0 1503 1504"
      style="fill: #E84142; fill-opacity: 0.5;"
      ><path
        d="M727 1.7C588.9 6.1 453.1 49.3 338 125.5c-108.2 71.6-195 168.4-254.1 283C6.6 558.5-17.7 731.3 15.1 898c38.4 194.9 153.8 367.6 320 478.8 183.1 122.4 412.8 157.7 625.9 96.2 70.7-20.4 141.9-53.4 204-94.5 108.2-71.6 195-168.4 254.1-283 77.3-150 101.6-322.8 68.8-489.5-43.4-220.5-185-411-384.4-517.2C989.3 27.9 857.8-2.5 727 1.7zm40.4 282.6c6.8 3.1 12.3 8.6 19 19 9 13.8 104.5 181.4 110.7 194.1 16.1 33.1 15.7 65.3-1.2 98.9-2.7 5.3-199.2 353.2-216.2 382.7-11.3 19.6-20.9 33.3-28.7 41-17.3 17.1-39.1 27.5-63 30-13.2 1.4-224.4 1.3-234.7-.1-14-1.8-23.4-8.5-29.1-20.7-2.3-4.8-2.7-7.1-2.7-14.3 0-8.3.1-8.8 5.6-20 5.6-11.4 379.5-671.3 390.1-688.4 6.5-10.4 12.4-17.5 17.2-20.4 8.9-5.5 23.2-6.3 33-1.8zm257.9 456c7.4 3.4 10.6 6.5 17.4 16.4 7.9 11.6 6.8 9.8 68.8 115.8 80.4 137.4 77 131.1 76.3 143.9-.8 14.4-10.4 27.3-23.6 31.8l-6.7 2.3-141 .3c-94.2.2-143.6-.1-148.9-.8-9.8-1.3-16.8-4.4-22.4-10-5.5-5.5-8.8-12-10.3-20.2-1.5-7.9 0-13.6 7.1-27.8 4.4-8.9 121.9-211.3 132.3-227.9 6.9-11.1 13.2-18.8 17.7-21.6 9.4-5.9 23.2-6.8 33.3-2.2z"
      ></path></svg
    >

    <h1>
      Bienvenido al <span class="text-gradient">Avalanche Game Marketplace</span
      >
    </h1>
    <p class="instructions">
      Selecciona el objeto/cosmético que desees adquirir, realiza la
      transacción, y listo, estará en tu videojuego favorito.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Ataque de tu espada"
        body="Aumenta el ataque de tu espada +10 de daño"
        image="/swords/Llamarada.png"
      />
      <Card
        href="https://astro.build/integrations/"
        title="Ataque de otra cosa"
        body="Supercharge your project with new frameworks and libraries."
        image="/swords/Llamarada.png"
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
        image="/swords/Llamarada.png"
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
        image="/swords/Llamarada.png"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(232, 65, 66, 0.25); /* Color de borde #E84142 con opacidad del 25% */
    background: linear-gradient(
      rgb(114, 36, 39),
      /* Primer color del gradiente #1E3AEA con opacidad del 66% */
        rgb(159, 52, 56)
        /* Segundo color del gradiente #1E3AEA con opacidad del 33% */
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
